.app {
    background: #f5f2f2;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.inputSearch {
    max-width: 450px;
    border-radius: 32px;
}

@media screen and (max-width: 600px) {
    .inputSearch {
        max-width: 320px;
    }
}