.container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 30px;
}

.top {
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 6px rgb(0 0 0 / 10%);
    display: flex;
    font-size: 24px;
    margin-top: 20px;
    color: #faad14;
    background-color: #434343;
}

.topTitle {
    font-size: 18px;
    font-weight: 500;
    margin-left: 10px;
}


.body {
    display: flex;
}

.left {
    padding: 30px;
    background: white;
    box-shadow: 0px 0px 8px rgb(0 0 0 / 10%);
    width: 25%;
    padding-top: 60px;
    margin-top: 20px;
}

.leftItem {
    display: flex;
    align-items: stretch;
    font-size: 18px;
    margin-bottom: 20px;
}

.leftItem:hover {
    cursor: pointer;
    color: #1890ff;
    transition-duration: 0.5s;
}

.leftItem:visited {
    color: #1890ff;
}

.leftTitle {
    margin-left: 10px;
    font-weight: 500;
    font-size: 16px;
}

.right {
    margin-left: 20px;
    margin-top: 20px;
    width: 75%;
}


