@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Pinyon+Script&display=swap');

.header {
    min-height: 80px;
    /* background: linear-gradient(to right, #faad14, #ffc53d); */
    background: #faad14;
    width: 100%;
}

.container {
    margin: 0px auto;
    max-width: 1200px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo-title {
    font-family: 'Fredericka the Great', cursive;
    font-size: 32px;
    margin-left: 12px;
    font-weight: 500;
    color: #fafafa;
}

/* :global(.ant-menu) {
    background: #faad14;
} */

.ant-menu {
    background: transparent;
}

/* :global(.ant-menu-horizontal) {
    border: none;
} */
.ant-menu-horizontal {
    border: none;
}

/* :global(.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item:hover 
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu:hover 
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-active 
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-active 
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-open 
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-open 
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-selected 
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-selected) {
    color: #fafafa;
    border-bottom: 2px solid #fafafa;
} */
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item:hover,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu:hover,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-active,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-active,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-open,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-open,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-selected,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-selected {
    color: #fafafa;
    border-bottom: 2px solid #fafafa;
}

/* :global(.ant-menu-horizontal>.ant-menu-item a:hover) {
    olor: #fafafa;
} */
.ant-menu-horizontal>.ant-menu-item a:hover {
    color: #fafafa;
}

/* :global(.ant-menu-horizontal>.ant-menu-item-selected a) {
    color: #fafafa;
} */
.ant-menu-horizontal>.ant-menu-item-selected a {
    color: #fafafa;
}

.menu {
    font-size: 16px;
    font-weight: 500;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* :global(.ant-input-affix-wrapper) {
    border: 1px solid #faad14;
} */
.ant-input-affix-wrapper {
    border: 1px solid #faad14;
}

/* :global(.ant-menu-item:hover 
.ant-menu-item-active 
.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open 
.ant-menu-submenu-active 
.ant-menu-submenu-title:hover) {
    color: #ffffff !important;
} */

.ant-menu-item:hover,
.ant-menu-item-active,
.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-submenu-active,
.ant-menu-submenu-title:hover {
    color: #ffffff;
}

.ant-btn:hover,
.ant-btn:focus,
.ant-btn:active {
    background: #f7a708;
    color: white;
    border: none;
}